<h1> MAKE A NEW USER! YAAAAAAAAAAAAAAY </h1>





ðŸ“‹FORM_WITH: MODELðŸ‘¥
<%= form_with model: @user do |f| %>

        <%= f.label :name, "What's Your Name? ðŸ˜„:" %>
        <%= f.text_field :name %>
        Username: <%= f.text_field :username %>

        <br><br>

            <h2> Whatchu Rockin' Tho? ðŸ™†âœ¨ </h2>
            <%= f.fields_for :outfits do |ff| %>
                <br>

                Name of Fit: <%= ff.text_field :name %>
                <br>
                You Rockin' Some HEAT or NAAAH ðŸ”¥ðŸ‘€: <%= ff.radio_button :heat, true %> Y 
                <%= ff.radio_button :heat, false %> N
                <br>    
                Fit Price: <%= ff.number_field :price, step: :any %>
                <br>
                Times Worn: <%= ff.number_field :times_worn, step: :any %>

            <% end %><br>

        <br><br><br><br>

        
        <%= f.submit "YOU DON'T NEED ANOTHER SUBMIT BUTTON HOMIE ðŸ™ŒðŸ¾" %>
        
<% end %>




<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>

<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>


ðŸ“‹FORM_WITH: MODELðŸ‘¥
<%= form_with model: @user do |f| %>
        <%= f.label :name, "What's Your Name? ðŸ˜„" %>
        Name: <%= f.text_field :name %>
        Username: <%= f.text_field :username %>
        
        <%= f.submit "DON'T NEED A VALUE HOMIE ðŸ™ŒðŸ¾" %>
        
<% end %>


<br><br>
<br><br>
<br><br>
<br><br>


ðŸ“‹FORM_WITH: LINKðŸ”—
<%= form_with url: "/users" do |f| %>
    
    Name: <%= f.text_field :name %>
    Username: <%= f.text_field :username %>
    
    <%= f.submit "DON'T NEED A VALUE HOMIE ðŸ™ŒðŸ¾" %>
    
<% end %>
    
    
<br><br>

