<h1> Hey! Let's Sign You Up As a âœ¨NEW USERâœ¨! YAAAAAAAAAAAAAAY! </h1>




<br>

    <% if @user.errors.any? %>

        <% @user.errors.full_messages.each do |error| %>
        
            <h4><%= error %></h4>

        <% end %>

    <% end %>

<br>




ðŸ“‹FORM_WITH: MODELðŸ‘¥
<%= form_with model: @user do |f| %>


        <%= f.label :name, "What's Your Name? ðŸ˜„:" %>
        <%= f.text_field :name %><br>

        <%= f.label :username %>
        <%= f.text_field :username %><br>

        <!--  Password : *** PASSWORD_FIELD?? ***  -->
        <%= f.label :password, "PROBABLY JUST WANT THIS TO SAY PASSWORD..no?ðŸ˜…:" %>
        <%= f.password_field :password %><br>


        <br><br>


            <h2> Whatchu Rockin' Tho? ðŸ™†âœ¨ </h2>
            <%= f.fields_for :outfits do |ff| %>
                <br>

                Name of Fit: <%= ff.text_field :name %>
                <br>
                You Rockin' Some HEAT or NAAAH ðŸ”¥ðŸ‘€: <%= ff.radio_button :heat, true %> Y 
                <%= ff.radio_button :heat, false %> N
                <br>    
                Fit Price: <%= ff.number_field :price, step: :any %>
                <br>
                Times Worn: <%= ff.number_field :times_worn, step: :any %>    <br><br>

            <% end %><br>


        <br><br><br><br>


        <%= f.submit "Signup! ðŸ’ðŸ’«âœ¨" %>
            <!--  <%= f.submit "YOU DON'T NEED ANOTHER SUBMIT BUTTON HOMIE ðŸ™ŒðŸ¾" %>  -->
        

<% end %>




<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>

<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>


ðŸ“‹FORM_WITH: MODELðŸ‘¥
<%= form_with model: @user do |f| %>
        <%= f.label :name, "What's Your Name? ðŸ˜„" %>
        Name: <%= f.text_field :name %>
        Username: <%= f.text_field :username %>
        
        <%= f.submit "DON'T NEED A VALUE HOMIE ðŸ™ŒðŸ¾" %>
        
<% end %>


<br><br>
<br><br>
<br><br>
<br><br>


ðŸ“‹FORM_WITH: LINKðŸ”—
<%= form_with url: "/users" do |f| %>
    
    Name: <%= f.text_field :name %>
    Username: <%= f.text_field :username %>
    
    <%= f.submit "DON'T NEED A VALUE HOMIE ðŸ™ŒðŸ¾" %>
    
<% end %>
    
    
<br><br>








ðŸ“‹FORM_TAG: REMEBER :: Takes a LINKðŸ”—
<%= form_tag "/users" do %>

    Name: <%= text_field_tag :name %>
    Username: <%= text_field_tag :username %>
    
    <%= submit_tag "DON'T NEED A VALUE HOMIE ðŸ™ŒðŸ¾" %>
    
<% end %><br><br><br><br><br><br><br><br><br><br>


ðŸ“‹FORM_FOR: REMEMBER :: Takes a MODELðŸ‘¥
<%= form_for @user do |f| %>
    <%#= form_for User.new do |f| %>
    
        Name: <%= f.text_field :name %>
        Username: <%= f.text_field :username %>
        
        <%= f.submit "DON'T NEED A VALUE HOMIE ðŸ™ŒðŸ¾" %>
        
<% end %><br><br><br><br><br><br><br><br><br><br>

